In [1]:
#pip install seaborn

In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sb
from sklearn.preprocessing import MinMaxScaler
import os
from sklearn.preprocessing import LabelEncoder
# from sklearn.pipeline import Pipeline

In [3]:
# for dirname, _, filenames in os.walk(r'..\data'):
#     dir_name=dirname
dir_name="data"

In [4]:
# dir_name=os.path.join('../','data_1')

# Reading Data files

In [5]:
# df_1=pd.read_excel(os.path.join(dir_name,'cl_sell_buy.xlsx'),engine='openpyxl',)
df_1=pd.read_excel(os.path.join(dir_name,'cl_sell_buy.xlsx'))
df_2=pd.read_excel(os.path.join(dir_name,'diffs.xlsx'))  
df_3=pd.read_excel(os.path.join(dir_name,'margins.xlsx'))

In [6]:
def delete_cols(col_names_list,date_list):
    for name in df_lag.columns:
            if 't-' in name or name in date_list or name=='action':
                pass
            else:
#                 print ('column name in else is:',name)
                del df_lag[name]

In [7]:
def input_output(col_names_list):
    for name in df_lag.columns:
            if 'action' in name:
                del df_input[name]
            else:
#                 print ('column name in else is:',name)
                pass

In [8]:
def normalize_df(df):

    # copy the data
    df_min_max_scaled = df.copy()

    # apply normalization techniques
    for column in df_min_max_scaled.columns:
        df_min_max_scaled[column] = (df_min_max_scaled[column] - df_min_max_scaled[column].min()) / (df_min_max_scaled[column].max() - df_min_max_scaled[column].min())    

    # view normalized data
    return(df_min_max_scaled)

In [9]:
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [10]:
start_date = '2015-01-10'

In [11]:
mask = (df_1['date'] > start_date)
df_1 = df_1.loc[mask]
df_1.dropna(axis=0, inplace=True)

In [12]:
df_1.head()

           date  time_spread  dod_change action
1015 2015-01-12        -0.69       -0.06   SELL
1016 2015-01-13        -0.62        0.07    BUY
1017 2015-01-14        -0.48        0.14    BUY
1018 2015-01-15        -0.48        0.00    BUY
1019 2015-01-16        -0.44        0.04    BUY

In [13]:
df_2.head()

  ObservationDate  MEH-WTI   MID   LLS
0      2015-10-01     0.25 -0.20  2.25
1      2015-10-02    -0.40 -0.20  1.80
2      2015-10-05    -0.45 -0.25  1.60
3      2015-10-06     0.10 -0.20  1.65
4      2015-10-07     0.00 -0.05  2.00

In [14]:
mask = (df_2['ObservationDate'] > start_date)
df_2 = df_2.loc[mask]
df_2.dropna(axis=0, inplace=True)

In [15]:
df_2.head()

  ObservationDate  MEH-WTI   MID   LLS
0      2015-10-01     0.25 -0.20  2.25
1      2015-10-02    -0.40 -0.20  1.80
2      2015-10-05    -0.45 -0.25  1.60
3      2015-10-06     0.10 -0.20  1.65
4      2015-10-07     0.00 -0.05  2.00

In [16]:
df_3.head()

,DateCalculated,Contract,MEH | USGC | HSK,MEH | USGC | FCC,WTI | P2 | FCC,WTI | P2 | HSK
0,2013-01-22,2013-02-01,NaN,NaN,5.78,9.29
1,2013-04-22,2013-05-01,NaN,NaN,18.92,19.77
2,2013-05-21,2013-06-01,NaN,NaN,15.99,16.87
3,2013-07-22,2013-08-01,NaN,NaN,-0.67,0.96
4,2013-10-21,2013-11-01,NaN,NaN,1.48,4.42

In [17]:
mask = (df_3['DateCalculated'] > start_date)
df_3 = df_3.loc[mask]
df_3.dropna(axis=0, inplace=True)
df_3.describe()

       MEH | USGC | HSK  MEH | USGC | FCC  WTI | P2 | FCC  WTI | P2 | HSK
count        715.000000        715.000000      715.000000      715.000000
mean           2.555455          0.997818        3.782629        5.967385
std            1.995024          2.077284        3.588861        3.573026
min           -1.530000         -3.810000       -3.270000       -1.240000
25%            1.085000         -0.530000        1.275000        3.505000
50%            2.350000          0.820000        3.320000        5.710000
75%            3.840000          2.180000        6.380000        8.395000
max           16.540000         14.740000       57.230000       60.230000

In [18]:
df1_df2=pd.merge(
    df_1,
    df_2,
    left_on=['date'],
    right_on=['ObservationDate']
)

In [19]:
combined_df=pd.merge(
    df1_df2,
    df_3,
    left_on=['date'],
    right_on=['DateCalculated']
)

In [20]:
combined_df['year'] = pd.DatetimeIndex(combined_df['date']).year
combined_df['month'] = pd.DatetimeIndex(combined_df['date']).month
combined_df['day'] = pd.DatetimeIndex(combined_df['date']).day
combined_df['weekday'] = pd.DatetimeIndex(combined_df['date']).weekday   # Monday is 0 and Sunday is 6

In [21]:
combined_df=combined_df.drop(columns=['date','ObservationDate','DateCalculated', 'Contract'])

In [22]:
lags = range(1, 5)  # 5 lags

df_lag=combined_df.assign(**{'{} (t-{})'.format(col, t): combined_df[col].shift(t)
    for t in lags
    for col in combined_df
})

In [23]:
df_lag.head()

,time_spread,dod_change,action,MEH-WTI,MID,LLS,MEH | USGC | HSK,MEH | USGC | FCC,WTI | P2 | FCC,WTI | P2 | HSK,...,MID (t-4),LLS (t-4),MEH | USGC | HSK (t-4),MEH | USGC | FCC (t-4),WTI | P2 | FCC (t-4),WTI | P2 | HSK (t-4),year (t-4),month (t-4),day (t-4),weekday (t-4)
0,-1.07,0.26,BUY,-0.50,0.55,1.80,0.87,1.76,1.91,0.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-1.91,0.20,BUY,2.00,0.20,2.75,0.54,0.85,1.33,1.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-1.61,0.09,BUY,1.85,-0.50,2.35,-1.33,0.28,2.73,2.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-1.00,-0.41,SELL,0.80,-0.60,1.85,1.28,2.00,3.47,3.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-0.36,0.23,BUY,1.65,0.00,1.50,1.60,1.74,5.78,5.99,...,0.55,1.8,0.87,1.76,1.91,0.66,2015.0,12.0,21.0,0.0

In [24]:
#input_df=combined_df.drop(columns=['action','ObservationDate','DateCalculated', 'Contract'])

In [25]:
print (df_lag.columns)

Index(['time_spread', 'dod_change', 'action', 'MEH-WTI', 'MID', 'LLS',
       'MEH | USGC | HSK', 'MEH | USGC | FCC', 'WTI | P2 | FCC',
       'WTI | P2 | HSK', 'year', 'month', 'day', 'weekday',
       'time_spread (t-1)', 'dod_change (t-1)', 'action (t-1)',
       'MEH-WTI (t-1)', 'MID (t-1)', 'LLS (t-1)', 'MEH | USGC | HSK (t-1)',
       'MEH | USGC | FCC (t-1)', 'WTI | P2 | FCC (t-1)',
       'WTI | P2 | HSK (t-1)', 'year (t-1)', 'month (t-1)', 'day (t-1)',
       'weekday (t-1)', 'time_spread (t-2)', 'dod_change (t-2)',
       'action (t-2)', 'MEH-WTI (t-2)', 'MID (t-2)', 'LLS (t-2)',
       'MEH | USGC | HSK (t-2)', 'MEH | USGC | FCC (t-2)',
       'WTI | P2 | FCC (t-2)', 'WTI | P2 | HSK (t-2)', 'year (t-2)',
       'month (t-2)', 'day (t-2)', 'weekday (t-2)', 'time_spread (t-3)',
       'dod_change (t-3)', 'action (t-3)', 'MEH-WTI (t-3)', 'MID (t-3)',
       'LLS (t-3)', 'MEH | USGC | HSK (t-3)', 'MEH | USGC | FCC (t-3)',
       'WTI | P2 | FCC (t-3)', 'WTI | P2 | HSK (t-3)', 'year (t-3)',
       'month (t-3)', 'day (t-3)', 'weekday (t-3)', 'time_spread (t-4)',
       'dod_change (t-4)', 'action (t-4)', 'MEH-WTI (t-4)', 'MID (t-4)',
       'LLS (t-4)', 'MEH | USGC | HSK (t-4)', 'MEH | USGC | FCC (t-4)',
       'WTI | P2 | FCC (t-4)', 'WTI | P2 | HSK (t-4)', 'year (t-4)',
       'month (t-4)', 'day (t-4)', 'weekday (t-4)'],
      dtype='object')

In [26]:
dates_list=['year','month','weekday','day']

In [27]:
delete_cols(df_lag.columns,dates_list)

In [28]:

#             df_lag.drop(labels=name, axis=1)
            #pass

In [29]:
df_lag.head()

,action,year,month,day,weekday,time_spread (t-1),dod_change (t-1),action (t-1),MEH-WTI (t-1),MID (t-1),...,MID (t-4),LLS (t-4),MEH | USGC | HSK (t-4),MEH | USGC | FCC (t-4),WTI | P2 | FCC (t-4),WTI | P2 | HSK (t-4),year (t-4),month (t-4),day (t-4),weekday (t-4)
0,BUY,2015,12,21,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUY,2016,2,22,0,-1.07,0.26,BUY,-0.50,0.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUY,2016,3,21,0,-1.91,0.20,BUY,2.00,0.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SELL,2016,6,21,1,-1.61,0.09,BUY,1.85,-0.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUY,2016,8,22,0,-1.00,-0.41,SELL,0.80,-0.60,...,0.55,1.8,0.87,1.76,1.91,0.66,2015.0,12.0,21.0,0.0

In [30]:
print(df_lag.isnull().values.sum())

140

In [31]:
print(df_lag.isnull().sum())

action                  0
year                    0
month                   0
day                     0
weekday                 0
                       ..
WTI | P2 | HSK (t-4)    4
year (t-4)              4
month (t-4)             4
day (t-4)               4
weekday (t-4)           4
Length: 61, dtype: int64

In [32]:
df_lag.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 704 entries, 0 to 703
Data columns (total 61 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   action                  704 non-null    object
 1   year                    704 non-null    int64
 2   month                   704 non-null    int64
 3   day                     704 non-null    int64
 4   weekday                 704 non-null    int64
 5   time_spread (t-1)       703 non-null    float64
 6   dod_change (t-1)        703 non-null    float64
 7   action (t-1)            703 non-null    object
 8   MEH-WTI (t-1)           703 non-null    float64
 9   MID (t-1)               703 non-null    float64
 10  LLS (t-1)               703 non-null    float64
 11  MEH | USGC | HSK (t-1)  703 non-null    float64
 12  MEH | USGC | FCC (t-1)  703 non-null    float64
 13  WTI | P2 | FCC (t-1)    703 non-null    float64
 14  WTI | P2 | HSK (t-1)    703 non-null    float64
 15  year (t-1)              703 non-null    float64
 16  month (t-1)             703 non-null    float64
 17  day (t-1)               703 non-null    float64
 18  weekday (t-1)           703 non-null    float64
 19  time_spread (t-2)       702 non-null    float64
 20  dod_change (t-2)        702 non-null    float64
 21  action (t-2)            702 non-null    object
 22  MEH-WTI (t-2)           702 non-null    float64
 23  MID (t-2)               702 non-null    float64
 24  LLS (t-2)               702 non-null    float64
 25  MEH | USGC | HSK (t-2)  702 non-null    float64
 26  MEH | USGC | FCC (t-2)  702 non-null    float64
 27  WTI | P2 | FCC (t-2)    702 non-null    float64
 28  WTI | P2 | HSK (t-2)    702 non-null    float64
 29  year (t-2)              702 non-null    float64
 30  month (t-2)             702 non-null    float64
 31  day (t-2)               702 non-null    float64
 32  weekday (t-2)           702 non-null    float64
 33  time_spread (t-3)       701 non-null    float64
 34  dod_change (t-3)        701 non-null    float64
 35  action (t-3)            701 non-null    object
 36  MEH-WTI (t-3)           701 non-null    float64
 37  MID (t-3)               701 non-null    float64
 38  LLS (t-3)               701 non-null    float64
 39  MEH | USGC | HSK (t-3)  701 non-null    float64
 40  MEH | USGC | FCC (t-3)  701 non-null    float64
 41  WTI | P2 | FCC (t-3)    701 non-null    float64
 42  WTI | P2 | HSK (t-3)    701 non-null    float64
 43  year (t-3)              701 non-null    float64
 44  month (t-3)             701 non-null    float64
 45  day (t-3)               701 non-null    float64
 46  weekday (t-3)           701 non-null    float64
 47  time_spread (t-4)       700 non-null    float64
 48  dod_change (t-4)        700 non-null    float64
 49  action (t-4)            700 non-null    object
 50  MEH-WTI (t-4)           700 non-null    float64
 51  MID (t-4)               700 non-null    float64
 52  LLS (t-4)               700 non-null    float64
 53  MEH | USGC | HSK (t-4)  700 non-null    float64
 54  MEH | USGC | FCC (t-4)  700 non-null    float64
 55  WTI | P2 | FCC (t-4)    700 non-null    float64
 56  WTI | P2 | HSK (t-4)    700 non-null    float64
 57  year (t-4)              700 non-null    float64
 58  month (t-4)             700 non-null    float64
 59  day (t-4)               700 non-null    float64
 60  weekday (t-4)           700 non-null    float64
dtypes: float64(52), int64(4), object(5)
memory usage: 341.0+ KB

In [33]:
df_lag = df_lag.dropna()

In [34]:
df_lag.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700 entries, 4 to 703
Data columns (total 61 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   action                  700 non-null    object
 1   year                    700 non-null    int64
 2   month                   700 non-null    int64
 3   day                     700 non-null    int64
 4   weekday                 700 non-null    int64
 5   time_spread (t-1)       700 non-null    float64
 6   dod_change (t-1)        700 non-null    float64
 7   action (t-1)            700 non-null    object
 8   MEH-WTI (t-1)           700 non-null    float64
 9   MID (t-1)               700 non-null    float64
 10  LLS (t-1)               700 non-null    float64
 11  MEH | USGC | HSK (t-1)  700 non-null    float64
 12  MEH | USGC | FCC (t-1)  700 non-null    float64
 13  WTI | P2 | FCC (t-1)    700 non-null    float64
 14  WTI | P2 | HSK (t-1)    700 non-null    float64
 15  year (t-1)              700 non-null    float64
 16  month (t-1)             700 non-null    float64
 17  day (t-1)               700 non-null    float64
 18  weekday (t-1)           700 non-null    float64
 19  time_spread (t-2)       700 non-null    float64
 20  dod_change (t-2)        700 non-null    float64
 21  action (t-2)            700 non-null    object
 22  MEH-WTI (t-2)           700 non-null    float64
 23  MID (t-2)               700 non-null    float64
 24  LLS (t-2)               700 non-null    float64
 25  MEH | USGC | HSK (t-2)  700 non-null    float64
 26  MEH | USGC | FCC (t-2)  700 non-null    float64
 27  WTI | P2 | FCC (t-2)    700 non-null    float64
 28  WTI | P2 | HSK (t-2)    700 non-null    float64
 29  year (t-2)              700 non-null    float64
 30  month (t-2)             700 non-null    float64
 31  day (t-2)               700 non-null    float64
 32  weekday (t-2)           700 non-null    float64
 33  time_spread (t-3)       700 non-null    float64
 34  dod_change (t-3)        700 non-null    float64
 35  action (t-3)            700 non-null    object
 36  MEH-WTI (t-3)           700 non-null    float64
 37  MID (t-3)               700 non-null    float64
 38  LLS (t-3)               700 non-null    float64
 39  MEH | USGC | HSK (t-3)  700 non-null    float64
 40  MEH | USGC | FCC (t-3)  700 non-null    float64
 41  WTI | P2 | FCC (t-3)    700 non-null    float64
 42  WTI | P2 | HSK (t-3)    700 non-null    float64
 43  year (t-3)              700 non-null    float64
 44  month (t-3)             700 non-null    float64
 45  day (t-3)               700 non-null    float64
 46  weekday (t-3)           700 non-null    float64
 47  time_spread (t-4)       700 non-null    float64
 48  dod_change (t-4)        700 non-null    float64
 49  action (t-4)            700 non-null    object
 50  MEH-WTI (t-4)           700 non-null    float64
 51  MID (t-4)               700 non-null    float64
 52  LLS (t-4)               700 non-null    float64
 53  MEH | USGC | HSK (t-4)  700 non-null    float64
 54  MEH | USGC | FCC (t-4)  700 non-null    float64
 55  WTI | P2 | FCC (t-4)    700 non-null    float64
 56  WTI | P2 | HSK (t-4)    700 non-null    float64
 57  year (t-4)              700 non-null    float64
 58  month (t-4)             700 non-null    float64
 59  day (t-4)               700 non-null    float64
 60  weekday (t-4)           700 non-null    float64
dtypes: float64(52), int64(4), object(5)
memory usage: 339.1+ KB

In [37]:
# df_input=df_lag.drop(columns='action',axis=1) # since these columns wer
df_input=df_lag.copy()
df_output=df_lag['action']

In [38]:
df_cat = df_input.select_dtypes(include=['object']).copy()

In [39]:
df_cat.head()

  action action (t-1) action (t-2) action (t-3) action (t-4)
4    BUY         SELL          BUY          BUY          BUY
5   SELL          BUY         SELL          BUY          BUY
6    BUY         SELL          BUY         SELL          BUY
7   SELL          BUY         SELL          BUY         SELL
8   SELL         SELL          BUY         SELL          BUY

In [40]:
#categorical data
categorical_cols = df_cat.columns

In [41]:
df_input=MultiColumnLabelEncoder(columns = categorical_cols).fit_transform(df_input)    # 0 means buy, 1 means sell

In [42]:
df_n_input=normalize_df(df_input)

In [43]:
df_n_input.head()

,action,year,month,day,weekday,time_spread (t-1),dod_change (t-1),action (t-1),MEH-WTI (t-1),MID (t-1),...,MID (t-4),LLS (t-4),MEH | USGC | HSK (t-4),MEH | USGC | FCC (t-4),WTI | P2 | FCC (t-4),WTI | P2 | HSK (t-4),year (t-4),month (t-4),day (t-4),weekday (t-4)
4,0.0,0.0,0.636364,0.700000,0.00,0.639228,0.142202,1.0,0.470588,0.817961,...,0.873786,0.583784,0.162162,0.393362,0.396631,0.146042,0.000000,1.000000,0.666667,0.00
5,1.0,0.0,0.909091,0.666667,0.00,0.704268,0.240061,0.0,0.529412,0.847087,...,0.856796,0.635135,0.139865,0.329096,0.352221,0.237510,0.166667,0.090909,0.700000,0.00
6,0.0,0.2,0.090909,0.666667,0.25,0.664634,0.192661,1.0,0.456747,0.854369,...,0.822816,0.613514,0.013514,0.288842,0.459418,0.277479,0.166667,0.181818,0.666667,0.00
7,1.0,0.2,0.181818,0.666667,0.25,0.713415,0.221713,0.0,0.508651,0.822816,...,0.817961,0.586486,0.189865,0.410311,0.516080,0.343582,0.166667,0.454545,0.666667,0.25
8,1.0,0.2,0.363636,0.700000,0.00,0.649390,0.172783,1.0,0.515571,0.774272,...,0.847087,0.567568,0.211486,0.391949,0.692956,0.555726,0.166667,0.636364,0.700000,0.00

In [ ]:
# df_num=df_input[~df_input.isin(df_cat)].dropna(axis=1)
# df=df_input.fillna(0)

In [44]:
df_output.head()

4     BUY
5    SELL
6     BUY
7    SELL
8    SELL
Name: action, dtype: object

In [45]:
# frames = [df_n_input, df_output]

# df_final = pd.concat(frames)

In [47]:
df_final=df_input.copy()

In [48]:
df_final.head()

,action,year,month,day,weekday,time_spread (t-1),dod_change (t-1),action (t-1),MEH-WTI (t-1),MID (t-1),...,MID (t-4),LLS (t-4),MEH | USGC | HSK (t-4),MEH | USGC | FCC (t-4),WTI | P2 | FCC (t-4),WTI | P2 | HSK (t-4),year (t-4),month (t-4),day (t-4),weekday (t-4)
4,0,2016,8,22,0,-1.00,-0.41,1,0.80,-0.60,...,0.55,1.80,0.87,1.76,1.91,0.66,2015.0,12.0,21.0,0.0
5,1,2016,11,21,0,-0.36,0.23,0,1.65,0.00,...,0.20,2.75,0.54,0.85,1.33,1.85,2016.0,2.0,22.0,0.0
6,0,2017,2,21,1,-0.75,-0.08,1,0.60,0.15,...,-0.50,2.35,-1.33,0.28,2.73,2.37,2016.0,3.0,21.0,0.0
7,1,2017,3,21,1,-0.27,0.11,0,1.35,-0.50,...,-0.60,1.85,1.28,2.00,3.47,3.23,2016.0,6.0,21.0,1.0
8,1,2017,5,22,0,-0.90,-0.21,1,1.45,-1.50,...,0.00,1.50,1.60,1.74,5.78,5.99,2016.0,8.0,22.0,0.0

In [49]:
df_final.to_csv('features.csv')