In [6]:
"""https://towardsdatascience.com/ways-to-detect-and-remove-the-outliers-404d16608dba"""

'https://towardsdatascience.com/ways-to-detect-and-remove-the-outliers-404d16608dba'

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
df=pd.read_csv('features.csv')
# x_df=df.drop(columns=['action'])
# y_df=df['action']

In [4]:
z = np.abs(stats.zscore(df))
print(z)

[[1.72957821 0.96352201 3.18261513 ... 1.67943025 0.73853106 1.37523419]
 [1.72462949 1.03785902 3.18261513 ... 1.21115538 0.85207635 1.37523419]
 [1.71968077 0.96352201 2.16534089 ... 0.92209682 0.73853106 1.37523419]
 ...
 [1.71968077 0.96352201 1.90375608 ... 0.63303825 0.62498576 0.66320465]
 [1.72462949 1.03785902 1.90375608 ... 0.63303825 1.30625754 1.37523419]
 [1.72957821 1.03785902 1.90375608 ... 0.63303825 1.41980284 0.66320465]]

In [5]:
threshold = 3
print(np.where(z > 3))

(array([  0,   0,   0,   0,   0,   1,   1,   1,   1,   1,   2,   2,   2,
         2,   3,   3,   3,   4,   4,   5, 128, 129, 129, 130, 130, 131,
       131, 131, 132, 132, 133, 134, 134, 135, 135, 136, 136, 136, 137,
       137, 137, 138, 138, 139, 142, 143, 143, 144, 144, 144, 145, 145,
       145, 146, 146, 147, 147, 148, 149, 149, 150, 150, 150, 151, 151,
       151, 152, 152, 152, 152, 153, 153, 153, 153, 154, 154, 154, 154,
       155, 155, 155, 156, 156, 157, 483, 484, 485, 486, 486, 486, 486,
       487, 487, 487, 487, 487, 487, 487, 487, 488, 488, 488, 488, 488,
       488, 488, 488, 488, 488, 488, 488, 488, 489, 489, 489, 489, 489,
       489, 489, 489, 489, 489, 489, 489, 489, 489, 489, 489, 489, 489,
       490, 490, 490, 490, 490, 490, 490, 490, 490, 490, 490, 490, 490,
       490, 490, 490, 490, 490, 491, 491, 491, 491, 491, 491, 491, 491,
       491, 491, 491, 491, 491, 491, 492, 492, 492, 492, 492, 492, 492,
       492, 492, 493, 493, 493, 493, 493, 493, 494, 494, 494, 494, 494,
       495, 495, 495, 495, 495, 496, 496, 496, 496, 496, 496, 496, 497,
       497, 497, 497, 497, 497, 497, 498, 498, 498, 498, 498, 498, 499,
       499, 499, 499, 499, 499, 499, 500, 500, 500, 500, 500, 500, 501,
       501, 501, 501, 501, 501, 502, 502, 502, 502, 502, 502, 503, 503,
       503, 503, 503, 503, 504, 504, 504, 504, 504, 504, 505, 505, 505,
       505, 505, 505, 506, 506, 506, 506, 506, 506, 506, 507, 507, 507,
       507, 507, 508, 508, 508, 508, 509, 509], dtype=int64), array([ 2, 16, 30, 44, 58,  2, 16, 30, 44, 58, 16, 30, 44, 58, 30, 44, 58,
       44, 58, 58,  7, 10, 21, 24, 35, 10, 38, 49, 24, 52, 38, 10, 52, 10,
       24, 10, 24, 38, 24, 38, 52, 38, 52, 52, 10, 10, 24, 10, 24, 38, 24,
       38, 52, 38, 52, 10, 52, 24, 10, 38, 10, 24, 52, 10, 24, 38, 10, 24,
       38, 52, 10, 24, 38, 52, 10, 24, 38, 52, 24, 38, 52, 38, 52, 52, 12,
       26, 40,  6, 11, 12, 54,  6,  9, 11, 12, 13, 20, 25, 26,  6,  9, 11,
       12, 13, 20, 23, 25, 26, 27, 34, 39, 40,  6,  9, 11, 12, 13, 20, 23,
       25, 26, 27, 34, 37, 39, 40, 41, 48, 53, 54,  6, 11, 12, 20, 23, 25,
       26, 27, 34, 37, 39, 40, 41, 48, 51, 53, 54, 55, 11, 20, 25, 26, 34,
       37, 39, 40, 41, 48, 51, 53, 54, 55, 25, 34, 39, 40, 48, 51, 53, 54,
       55,  6,  7, 39, 48, 53, 54,  6,  7, 20, 21, 53,  6, 20, 21, 34, 35,
        6,  7, 20, 34, 35, 48, 49,  6,  7, 20, 21, 34, 48, 49,  6, 20, 21,
       34, 35, 48,  6,  7, 20, 34, 35, 48, 49,  6, 20, 21, 34, 48, 49,  6,
        7, 20, 34, 35, 48,  7, 20, 21, 34, 48, 49,  6,  7, 21, 34, 35, 48,
        6, 20, 21, 35, 48, 49,  6,  7, 20, 34, 35, 49,  6,  7, 20, 21, 34,
       48, 49, 20, 21, 34, 35, 48, 34, 35, 48, 49, 48, 49], dtype=int64))

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 62 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              700 non-null    int64
 1   action                  700 non-null    int64
 2   year                    700 non-null    int64
 3   month                   700 non-null    int64
 4   day                     700 non-null    int64
 5   weekday                 700 non-null    int64
 6   time_spread (t-1)       700 non-null    float64
 7   dod_change (t-1)        700 non-null    float64
 8   action (t-1)            700 non-null    int64
 9   MEH-WTI (t-1)           700 non-null    float64
 10  MID (t-1)               700 non-null    float64
 11  LLS (t-1)               700 non-null    float64
 12  MEH | USGC | HSK (t-1)  700 non-null    float64
 13  MEH | USGC | FCC (t-1)  700 non-null    float64
 14  WTI | P2 | FCC (t-1)    700 non-null    float64
 15  WTI | P2 | HSK (t-1)    700 non-null    float64
 16  year (t-1)              700 non-null    float64
 17  month (t-1)             700 non-null    float64
 18  day (t-1)               700 non-null    float64
 19  weekday (t-1)           700 non-null    float64
 20  time_spread (t-2)       700 non-null    float64
 21  dod_change (t-2)        700 non-null    float64
 22  action (t-2)            700 non-null    int64
 23  MEH-WTI (t-2)           700 non-null    float64
 24  MID (t-2)               700 non-null    float64
 25  LLS (t-2)               700 non-null    float64
 26  MEH | USGC | HSK (t-2)  700 non-null    float64
 27  MEH | USGC | FCC (t-2)  700 non-null    float64
 28  WTI | P2 | FCC (t-2)    700 non-null    float64
 29  WTI | P2 | HSK (t-2)    700 non-null    float64
 30  year (t-2)              700 non-null    float64
 31  month (t-2)             700 non-null    float64
 32  day (t-2)               700 non-null    float64
 33  weekday (t-2)           700 non-null    float64
 34  time_spread (t-3)       700 non-null    float64
 35  dod_change (t-3)        700 non-null    float64
 36  action (t-3)            700 non-null    int64
 37  MEH-WTI (t-3)           700 non-null    float64
 38  MID (t-3)               700 non-null    float64
 39  LLS (t-3)               700 non-null    float64
 40  MEH | USGC | HSK (t-3)  700 non-null    float64
 41  MEH | USGC | FCC (t-3)  700 non-null    float64
 42  WTI | P2 | FCC (t-3)    700 non-null    float64
 43  WTI | P2 | HSK (t-3)    700 non-null    float64
 44  year (t-3)              700 non-null    float64
 45  month (t-3)             700 non-null    float64
 46  day (t-3)               700 non-null    float64
 47  weekday (t-3)           700 non-null    float64
 48  time_spread (t-4)       700 non-null    float64
 49  dod_change (t-4)        700 non-null    float64
 50  action (t-4)            700 non-null    int64
 51  MEH-WTI (t-4)           700 non-null    float64
 52  MID (t-4)               700 non-null    float64
 53  LLS (t-4)               700 non-null    float64
 54  MEH | USGC | HSK (t-4)  700 non-null    float64
 55  MEH | USGC | FCC (t-4)  700 non-null    float64
 56  WTI | P2 | FCC (t-4)    700 non-null    float64
 57  WTI | P2 | HSK (t-4)    700 non-null    float64
 58  year (t-4)              700 non-null    float64
 59  month (t-4)             700 non-null    float64
 60  day (t-4)               700 non-null    float64
 61  weekday (t-4)           700 non-null    float64
dtypes: float64(52), int64(10)
memory usage: 339.2 KB

In [8]:
df = df[(z < 3).all(axis=1)]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 639 entries, 6 to 699
Data columns (total 62 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              639 non-null    int64
 1   action                  639 non-null    int64
 2   year                    639 non-null    int64
 3   month                   639 non-null    int64
 4   day                     639 non-null    int64
 5   weekday                 639 non-null    int64
 6   time_spread (t-1)       639 non-null    float64
 7   dod_change (t-1)        639 non-null    float64
 8   action (t-1)            639 non-null    int64
 9   MEH-WTI (t-1)           639 non-null    float64
 10  MID (t-1)               639 non-null    float64
 11  LLS (t-1)               639 non-null    float64
 12  MEH | USGC | HSK (t-1)  639 non-null    float64
 13  MEH | USGC | FCC (t-1)  639 non-null    float64
 14  WTI | P2 | FCC (t-1)    639 non-null    float64
 15  WTI | P2 | HSK (t-1)    639 non-null    float64
 16  year (t-1)              639 non-null    float64
 17  month (t-1)             639 non-null    float64
 18  day (t-1)               639 non-null    float64
 19  weekday (t-1)           639 non-null    float64
 20  time_spread (t-2)       639 non-null    float64
 21  dod_change (t-2)        639 non-null    float64
 22  action (t-2)            639 non-null    int64
 23  MEH-WTI (t-2)           639 non-null    float64
 24  MID (t-2)               639 non-null    float64
 25  LLS (t-2)               639 non-null    float64
 26  MEH | USGC | HSK (t-2)  639 non-null    float64
 27  MEH | USGC | FCC (t-2)  639 non-null    float64
 28  WTI | P2 | FCC (t-2)    639 non-null    float64
 29  WTI | P2 | HSK (t-2)    639 non-null    float64
 30  year (t-2)              639 non-null    float64
 31  month (t-2)             639 non-null    float64
 32  day (t-2)               639 non-null    float64
 33  weekday (t-2)           639 non-null    float64
 34  time_spread (t-3)       639 non-null    float64
 35  dod_change (t-3)        639 non-null    float64
 36  action (t-3)            639 non-null    int64
 37  MEH-WTI (t-3)           639 non-null    float64
 38  MID (t-3)               639 non-null    float64
 39  LLS (t-3)               639 non-null    float64
 40  MEH | USGC | HSK (t-3)  639 non-null    float64
 41  MEH | USGC | FCC (t-3)  639 non-null    float64
 42  WTI | P2 | FCC (t-3)    639 non-null    float64
 43  WTI | P2 | HSK (t-3)    639 non-null    float64
 44  year (t-3)              639 non-null    float64
 45  month (t-3)             639 non-null    float64
 46  day (t-3)               639 non-null    float64
 47  weekday (t-3)           639 non-null    float64
 48  time_spread (t-4)       639 non-null    float64
 49  dod_change (t-4)        639 non-null    float64
 50  action (t-4)            639 non-null    int64
 51  MEH-WTI (t-4)           639 non-null    float64
 52  MID (t-4)               639 non-null    float64
 53  LLS (t-4)               639 non-null    float64
 54  MEH | USGC | HSK (t-4)  639 non-null    float64
 55  MEH | USGC | FCC (t-4)  639 non-null    float64
 56  WTI | P2 | FCC (t-4)    639 non-null    float64
 57  WTI | P2 | HSK (t-4)    639 non-null    float64
 58  year (t-4)              639 non-null    float64
 59  month (t-4)             639 non-null    float64
 60  day (t-4)               639 non-null    float64
 61  weekday (t-4)           639 non-null    float64
dtypes: float64(52), int64(10)
memory usage: 314.5 KB