In [1]:
#pip install seaborn

In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sb
from sklearn.preprocessing import MinMaxScaler
import os

# Reading CSV files

In [3]:
df_1= pd.read_excel(r'C:\Projects\andrew\data\cl_sell_buy.xlsx')   
df_2=pd.read_excel(r'C:\Projects\andrew\data\diffs.xlsx')  
df_3=pd.read_excel(r'C:\Projects\andrew\data\margins.xlsx')

In [4]:
def delete_cols(col_names_list):
    for name in df_lag.columns:
            #str_check=name.rsplit('.',1)[1]#
            print ('column name before if statement is:',name)
            if 't-' in name or name=='date' or name=='action':
                print ('get time lag')
                print ('column name is:',name)



            else:
                print ('column name in else is:',name)
                del df_lag[name]

In [5]:
df_1.head()

        date  time_spread  dod_change action
0        NaT     -0.83807         NaN    NaN
1 2011-01-03     -0.88000         NaN   SELL
2 2011-01-04     -1.04000       -0.16   SELL
3 2011-01-05     -1.12000       -0.08   SELL
4 2011-01-06     -1.37000       -0.25   SELL

In [6]:
start_date = '2015-01-10'

In [7]:
mask = (df_1['date'] > start_date)
df_1 = df_1.loc[mask]
df_1.dropna(axis=0, inplace=True)

In [8]:
df_1.head()

           date  time_spread  dod_change action
1015 2015-01-12        -0.69       -0.06   SELL
1016 2015-01-13        -0.62        0.07    BUY
1017 2015-01-14        -0.48        0.14    BUY
1018 2015-01-15        -0.48        0.00    BUY
1019 2015-01-16        -0.44        0.04    BUY

In [9]:
df_2.head()

  ObservationDate  MEH-WTI   MID   LLS
0      2015-10-01     0.25 -0.20  2.25
1      2015-10-02    -0.40 -0.20  1.80
2      2015-10-05    -0.45 -0.25  1.60
3      2015-10-06     0.10 -0.20  1.65
4      2015-10-07     0.00 -0.05  2.00

In [10]:
mask = (df_2['ObservationDate'] > start_date)
df_2 = df_2.loc[mask]
df_2.dropna(axis=0, inplace=True)

In [11]:
df_2.head()

  ObservationDate  MEH-WTI   MID   LLS
0      2015-10-01     0.25 -0.20  2.25
1      2015-10-02    -0.40 -0.20  1.80
2      2015-10-05    -0.45 -0.25  1.60
3      2015-10-06     0.10 -0.20  1.65
4      2015-10-07     0.00 -0.05  2.00

In [12]:
df_3.head()

,DateCalculated,Contract,MEH | USGC | HSK,MEH | USGC | FCC,WTI | P2 | FCC,WTI | P2 | HSK
0,2013-01-22,2013-02-01,NaN,NaN,5.78,9.29
1,2013-04-22,2013-05-01,NaN,NaN,18.92,19.77
2,2013-05-21,2013-06-01,NaN,NaN,15.99,16.87
3,2013-07-22,2013-08-01,NaN,NaN,-0.67,0.96
4,2013-10-21,2013-11-01,NaN,NaN,1.48,4.42

In [13]:
mask = (df_3['DateCalculated'] > start_date)
df_3 = df_3.loc[mask]
df_3.dropna(axis=0, inplace=True)
df_3.describe()

       MEH | USGC | HSK  MEH | USGC | FCC  WTI | P2 | FCC  WTI | P2 | HSK
count        715.000000        715.000000      715.000000      715.000000
mean           2.555455          0.997818        3.782629        5.967385
std            1.995024          2.077284        3.588861        3.573026
min           -1.530000         -3.810000       -3.270000       -1.240000
25%            1.085000         -0.530000        1.275000        3.505000
50%            2.350000          0.820000        3.320000        5.710000
75%            3.840000          2.180000        6.380000        8.395000
max           16.540000         14.740000       57.230000       60.230000

In [14]:
df1_df2=pd.merge(
    df_1,
    df_2,
    left_on=['date'],
    right_on=['ObservationDate']
)

In [15]:
combined_df=pd.merge(
    df1_df2,
    df_3,
    left_on=['date'],
    right_on=['DateCalculated']
)

In [16]:
combined_df['year'] = pd.DatetimeIndex(combined_df['date']).year
combined_df['month'] = pd.DatetimeIndex(combined_df['date']).month
combined_df['day'] = pd.DatetimeIndex(combined_df['date']).day
combined_df['weekday'] = pd.DatetimeIndex(combined_df['date']).weekday   # Monday is 0 and Sunday is 6

In [17]:
combined_df=combined_df.drop(columns=['date','ObservationDate','DateCalculated', 'Contract'])

In [18]:
lags = range(1, 5)  # 5 lags

df_lag=combined_df.assign(**{'{} (t-{})'.format(col, t): combined_df[col].shift(t)
    for t in lags
    for col in combined_df
})

In [19]:
df_lag.head()

,time_spread,dod_change,action,MEH-WTI,MID,LLS,MEH | USGC | HSK,MEH | USGC | FCC,WTI | P2 | FCC,WTI | P2 | HSK,...,MID (t-4),LLS (t-4),MEH | USGC | HSK (t-4),MEH | USGC | FCC (t-4),WTI | P2 | FCC (t-4),WTI | P2 | HSK (t-4),year (t-4),month (t-4),day (t-4),weekday (t-4)
0,-1.07,0.26,BUY,-0.50,0.55,1.80,0.87,1.76,1.91,0.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-1.91,0.20,BUY,2.00,0.20,2.75,0.54,0.85,1.33,1.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-1.61,0.09,BUY,1.85,-0.50,2.35,-1.33,0.28,2.73,2.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-1.00,-0.41,SELL,0.80,-0.60,1.85,1.28,2.00,3.47,3.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-0.36,0.23,BUY,1.65,0.00,1.50,1.60,1.74,5.78,5.99,...,0.55,1.8,0.87,1.76,1.91,0.66,2015.0,12.0,21.0,0.0

In [20]:
#input_df=combined_df.drop(columns=['action','ObservationDate','DateCalculated', 'Contract'])

In [21]:
print (df_lag.columns)

Index(['time_spread', 'dod_change', 'action', 'MEH-WTI', 'MID', 'LLS',
       'MEH | USGC | HSK', 'MEH | USGC | FCC', 'WTI | P2 | FCC',
       'WTI | P2 | HSK', 'year', 'month', 'day', 'weekday',
       'time_spread (t-1)', 'dod_change (t-1)', 'action (t-1)',
       'MEH-WTI (t-1)', 'MID (t-1)', 'LLS (t-1)', 'MEH | USGC | HSK (t-1)',
       'MEH | USGC | FCC (t-1)', 'WTI | P2 | FCC (t-1)',
       'WTI | P2 | HSK (t-1)', 'year (t-1)', 'month (t-1)', 'day (t-1)',
       'weekday (t-1)', 'time_spread (t-2)', 'dod_change (t-2)',
       'action (t-2)', 'MEH-WTI (t-2)', 'MID (t-2)', 'LLS (t-2)',
       'MEH | USGC | HSK (t-2)', 'MEH | USGC | FCC (t-2)',
       'WTI | P2 | FCC (t-2)', 'WTI | P2 | HSK (t-2)', 'year (t-2)',
       'month (t-2)', 'day (t-2)', 'weekday (t-2)', 'time_spread (t-3)',
       'dod_change (t-3)', 'action (t-3)', 'MEH-WTI (t-3)', 'MID (t-3)',
       'LLS (t-3)', 'MEH | USGC | HSK (t-3)', 'MEH | USGC | FCC (t-3)',
       'WTI | P2 | FCC (t-3)', 'WTI | P2 | HSK (t-3)', 'year (t-3)',
       'month (t-3)', 'day (t-3)', 'weekday (t-3)', 'time_spread (t-4)',
       'dod_change (t-4)', 'action (t-4)', 'MEH-WTI (t-4)', 'MID (t-4)',
       'LLS (t-4)', 'MEH | USGC | HSK (t-4)', 'MEH | USGC | FCC (t-4)',
       'WTI | P2 | FCC (t-4)', 'WTI | P2 | HSK (t-4)', 'year (t-4)',
       'month (t-4)', 'day (t-4)', 'weekday (t-4)'],
      dtype='object')

In [22]:
delete_cols(df_lag.columns)

column name before if statement is: time_spread
column name in else is: time_spread
column name before if statement is: dod_change
column name in else is: dod_change
column name before if statement is: action
get time lag
column name is: action
column name before if statement is: MEH-WTI
column name in else is: MEH-WTI
column name before if statement is: MID
column name in else is: MID
column name before if statement is: LLS
column name in else is: LLS
column name before if statement is: MEH | USGC | HSK
column name in else is: MEH | USGC | HSK
column name before if statement is: MEH | USGC | FCC
column name in else is: MEH | USGC | FCC
column name before if statement is: WTI | P2 | FCC
column name in else is: WTI | P2 | FCC
column name before if statement is: WTI | P2 | HSK
column name in else is: WTI | P2 | HSK
column name before if statement is: year
column name in else is: year
column name before if statement is: month
column name in else is: month
column name before if statement is: day
column name in else is: day
column name before if statement is: weekday
column name in else is: weekday
column name before if statement is: time_spread (t-1)
get time lag
column name is: time_spread (t-1)
column name before if statement is: dod_change (t-1)
get time lag
column name is: dod_change (t-1)
column name before if statement is: action (t-1)
get time lag
column name is: action (t-1)
column name before if statement is: MEH-WTI (t-1)
get time lag
column name is: MEH-WTI (t-1)
column name before if statement is: MID (t-1)
get time lag
column name is: MID (t-1)
column name before if statement is: LLS (t-1)
get time lag
column name is: LLS (t-1)
column name before if statement is: MEH | USGC | HSK (t-1)
get time lag
column name is: MEH | USGC | HSK (t-1)
column name before if statement is: MEH | USGC | FCC (t-1)
get time lag
column name is: MEH | USGC | FCC (t-1)
column name before if statement is: WTI | P2 | FCC (t-1)
get time lag
column name is: WTI | P2 | FCC (t-1)
column name before if statement is: WTI | P2 | HSK (t-1)
get time lag
column name is: WTI | P2 | HSK (t-1)
column name before if statement is: year (t-1)
get time lag
column name is: year (t-1)
column name before if statement is: month (t-1)
get time lag
column name is: month (t-1)
column name before if statement is: day (t-1)
get time lag
column name is: day (t-1)
column name before if statement is: weekday (t-1)
get time lag
column name is: weekday (t-1)
column name before if statement is: time_spread (t-2)
get time lag
column name is: time_spread (t-2)
column name before if statement is: dod_change (t-2)
get time lag
column name is: dod_change (t-2)
column name before if statement is: action (t-2)
get time lag
column name is: action (t-2)
column name before if statement is: MEH-WTI (t-2)
get time lag
column name is: MEH-WTI (t-2)
column name before if statement is: MID (t-2)
get time lag
column name is: MID (t-2)
column name before if statement is: LLS (t-2)
get time lag
column name is: LLS (t-2)
column name before if statement is: MEH | USGC | HSK (t-2)
get time lag
column name is: MEH | USGC | HSK (t-2)
column name before if statement is: MEH | USGC | FCC (t-2)
get time lag
column name is: MEH | USGC | FCC (t-2)
column name before if statement is: WTI | P2 | FCC (t-2)
get time lag
column name is: WTI | P2 | FCC (t-2)
column name before if statement is: WTI | P2 | HSK (t-2)
get time lag
column name is: WTI | P2 | HSK (t-2)
column name before if statement is: year (t-2)
get time lag
column name is: year (t-2)
column name before if statement is: month (t-2)
get time lag
column name is: month (t-2)
column name before if statement is: day (t-2)
get time lag
column name is: day (t-2)
column name before if statement is: weekday (t-2)
get time lag
column name is: weekday (t-2)
column name before if statement is: time_spread (t-3)
get time lag
column name is: time_spread (t-3)
column name before if statement is: dod_change (t-3)
get time lag
column name is: dod_change (t-3)
column name before if statement is: action (t-3)
get time lag
column name is: action (t-3)
column name before if statement is: MEH-WTI (t-3)
get time lag
column name is: MEH-WTI (t-3)
column name before if statement is: MID (t-3)
get time lag
column name is: MID (t-3)
column name before if statement is: LLS (t-3)
get time lag
column name is: LLS (t-3)
column name before if statement is: MEH | USGC | HSK (t-3)
get time lag
column name is: MEH | USGC | HSK (t-3)
column name before if statement is: MEH | USGC | FCC (t-3)
get time lag
column name is: MEH | USGC | FCC (t-3)
column name before if statement is: WTI | P2 | FCC (t-3)
get time lag
column name is: WTI | P2 | FCC (t-3)
column name before if statement is: WTI | P2 | HSK (t-3)
get time lag
column name is: WTI | P2 | HSK (t-3)
column name before if statement is: year (t-3)
get time lag
column name is: year (t-3)
column name before if statement is: month (t-3)
get time lag
column name is: month (t-3)
column name before if statement is: day (t-3)
get time lag
column name is: day (t-3)
column name before if statement is: weekday (t-3)
get time lag
column name is: weekday (t-3)
column name before if statement is: time_spread (t-4)
get time lag
column name is: time_spread (t-4)
column name before if statement is: dod_change (t-4)
get time lag
column name is: dod_change (t-4)
column name before if statement is: action (t-4)
get time lag
column name is: action (t-4)
column name before if statement is: MEH-WTI (t-4)
get time lag
column name is: MEH-WTI (t-4)
column name before if statement is: MID (t-4)
get time lag
column name is: MID (t-4)
column name before if statement is: LLS (t-4)
get time lag
column name is: LLS (t-4)
column name before if statement is: MEH | USGC | HSK (t-4)
get time lag
column name is: MEH | USGC | HSK (t-4)
column name before if statement is: MEH | USGC | FCC (t-4)
get time lag
column name is: MEH | USGC | FCC (t-4)
column name before if statement is: WTI | P2 | FCC (t-4)
get time lag
column name is: WTI | P2 | FCC (t-4)
column name before if statement is: WTI | P2 | HSK (t-4)
get time lag
column name is: WTI | P2 | HSK (t-4)
column name before if statement is: year (t-4)
get time lag
column name is: year (t-4)
column name before if statement is: month (t-4)
get time lag
column name is: month (t-4)
column name before if statement is: day (t-4)
get time lag
column name is: day (t-4)
column name before if statement is: weekday (t-4)
get time lag
column name is: weekday (t-4)

In [23]:

#             df_lag.drop(labels=name, axis=1)
            #pass

In [24]:
df_lag.head()

,action,time_spread (t-1),dod_change (t-1),action (t-1),MEH-WTI (t-1),MID (t-1),LLS (t-1),MEH | USGC | HSK (t-1),MEH | USGC | FCC (t-1),WTI | P2 | FCC (t-1),...,MID (t-4),LLS (t-4),MEH | USGC | HSK (t-4),MEH | USGC | FCC (t-4),WTI | P2 | FCC (t-4),WTI | P2 | HSK (t-4),year (t-4),month (t-4),day (t-4),weekday (t-4)
0,BUY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUY,-1.07,0.26,BUY,-0.50,0.55,1.80,0.87,1.76,1.91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUY,-1.91,0.20,BUY,2.00,0.20,2.75,0.54,0.85,1.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SELL,-1.61,0.09,BUY,1.85,-0.50,2.35,-1.33,0.28,2.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUY,-1.00,-0.41,SELL,0.80,-0.60,1.85,1.28,2.00,3.47,...,0.55,1.8,0.87,1.76,1.91,0.66,2015.0,12.0,21.0,0.0

In [25]:
df_lag.action

0       BUY
1       BUY
2       BUY
3      SELL
4       BUY
       ...
699     BUY
700    SELL
701     BUY
702    SELL
703    SELL
Name: action, Length: 704, dtype: object